RewriteEngine on
# link generate to http://localhost/Project-Muhammadiyah/backend
RewriteBase /Project-Muhammadiyah/backend
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php